extends base

block content 
    main.main
        .password-reset-form
            h2.heading-secondary.ma-bt-lg.middle Password Reset
            form.form.form--password-reset
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.middle
                    button.btn.btn--green.btn--password-reset Reset Password
