extends base
include _userCard

block content 
    main.main 
        .card-container
            if users.length === 0
                h2.heading-secondary.ma-bt-md No Users found
            else
              each user in users
                +reviewCard()

                .card__footer
                    a.btn.btn--green.btn--small(href=`/user/${user.slug}`) Update User
                    a.btn.btn--red.btn--small#deleteUser(data-user-id=`${user._id}`) Delete User