extends base

block content
  main.main
    .reset-new-password-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form.form--reset-new-password
        .form__group
          label.form__label(for='password') New Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm New Password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.middle
          button.btn.btn--green.btn--wide Reset Password
