extends base

block content 
    main.main
        .signup-form
            h2.heading-secondary.ma-bt-lg.middle Sign Up your account
            form.form.form--signup
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    label.form__label(for='name') Full Name
                    input#name.form__input(type='text', placeholder='Your Name', required, minlength='2')
                .form__group
                    label.form__label(for='role') Role
                    select#role.form__input(name='role')
                        option(value='user', selected) User
                        option(value='guide') Tour Guide
                        option(value='lead-guide') Lead Guide
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Password Confirmation
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')    
                .form__group.middle
                    button.btn.btn--green.btn--signup Sign Up
//- block js 
//-     script(src='/js/login.js')